[submodule "ios_home/.vim/bundle/Vundle.vim"]
	path = ios_home/.vim/bundle/Vundle.vim
	url = https://github.com/VundleVim/Vundle.vim.git
[submodule "osx_home/.vim/bundle/Vundle.vim"]
	path = osx_home/.vim/bundle/Vundle.vim
	url = https://github.com/VundleVim/Vundle.vim.git
[submodule "debian_home/.vim/bundle/Vundle.vim"]
	path = debian_home/.vim/bundle/Vundle.vim
	url = https://github.com/VundleVim/Vundle.vim.git
[submodule "ubuntu_home/.vim/bundle/Vundle.vim"]
	path = ubuntu_home/.vim/bundle/Vundle.vim
	url = https://github.com/VundleVim/Vundle.vim.git
